header {
  position: relative;
  
}

/* gradient de fondo */
.bg-gradient-ptar {
  background: linear-gradient(to right, #432a9d, #100734);
  height: 60px;
  box-shadow: 0 5px 10px rgba(55, 33, 145, 0.4);
  z-index: 1;               /* por debajo del contenido */
  position: absolute;
  top: 0; left: 0;
}

/* contenedor de contenido encima */
.header-content {
  position: relative;
  z-index: 2;   
  font-family: 'Asap', sans-serif;
  font-weight: 700;            /* por encima del gradiente */
  
}

/* logos con tamaño fijo y ancho automático */
.logo-unam,
.logo-ptar {
  max-height: 50px;
  width: auto;
  display: block;
}

  
  h1 {
    color: #333;
    text-align: center;
  }
  
  canvas {
    max-width: 800px;
    margin: 0 auto;
    display: block;
  }